body{
  background-color: #e3fdfd;
  font-family: 'brandon-grotesque','HelveticaNeue-Light',
  "Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
	font-size: 16px;
  color: #545454;
  width: 75%;
  margin:auto;
}

.t1, .t11, .t12, .t13 {
  border-radius: 5px;
}
hr{
  border: 0;
  border-top: dotted;
  border-width: 10px;
  color: white;
  background: none;
  width: 8%;
  margin:60px auto 60px auto;

}
hr:hover{
  color:gold;
}

table, td, thead, tr{
border:none;
padding: 10px;
border-collapse: collapse;
}
.level{
  width:300px;
}
footer{
  background-color: #11999e;
  margin: 10px 0 10px 0;
}

.pages{
margin: auto;
}
.pag{
  margin-right:30px;
  color: white
}
.pag:hover{
  color:gold;
}

progress {
	width: 80%;
	height: 20px;
	color: #d39b0f;
	background: #efefef;
  border: 1px solid #7e6a37;
}
progress::-webkit-progress-bar {
	background: #efefef;
}
progress::-webkit-progress-value {
	background: #fdba12;
}
progress::-moz-progress-bar {
	color: #fdba12;
	background: #efefef;
}

h1,h3{
  color:#66BFBF;
}
tr:nth-child(even){
  background-color: #a6e3e9;
}
td{
  border:none;
  border-radius:10px;
  min-width: 150px
}

thead,tfoot{
  border-radius: 15px;
  background-color: #11999e;
  color: #fefdca;
  text-align: center;
}
