body {
  margin:0 auto 0;
  width:90%;
  padding: 5px;
  background-color: #dcf8fd21;
  font-family: 'Montserrat', sans-serif;
  color: #545454;

}
div{
  margin:0;
  border:0;
}
.head2 {
    border: 3px outset #ecdd92f0;
    border-radius: 15px;
    padding: 10px;
    margin: auto;
    background: linear-gradient(to top, rgb(250, 254, 254) 38%, rgba(180, 234, 234, 0.44) 72%);
}

.head2:hover{
position: sticky;
width: 95%;
background-color: white;
}

.span{
  visibility: hidden;
}

.midbod, .work, .work1{
/*  border: 4px outset #f5f1e9;*/
  border-radius: 15px;
  padding: 10px;
}

.midbod{
  padding-top:15px;
  padding-left:15px;
  background-image: linear-gradient(to bottom, #fafefe, #ecf9f9fa);
}

h1 {
  color: #033a3a;
  font-family: 'Sacramento', cursive;
  font-size: 3.5rem;
  letter-spacing: 2px;
  margin: 5px 0 0 0;
  font-weight: bolder;
}

h5, h6 {
  margin: 3px 0 5px 0;
  letter-spacing: 1px;
}

h3 {
  color: #0b8d8d;
  font-family: 'Merriweather', serif;
  margin-top: 0;
}

table, td, thead, tr {
  border: none;
  padding: 10px;
  border-collapse: collapse;
}

tr:nth-child(even) {
  background-image: linear-gradient(to bottom, #fafefe, #ecf9f9fa);
}

td {
  border: none;
  border-radius: 10px;
  min-width: 150px
}
thead, tfoot {
  border-radius: 15px;
    background-color: #1d8a8a1c;
    color: #085555;
    text-align: center;
    font-weight: bold;
}

.t1, .t11, .t12, .t13 {
  border-radius: 5px;
}

hr {
  border: 0;
  border-top: dotted;
  border-width: 10px;
  color: white;
  background: none;
  width: 8%;
  margin: 40px auto 40px auto;
}

hr:hover {
  color: gold;
}

.level {
  width: 300px;
}
progress {
  width: 80%;
  height: 15px;
  color: #d39b0f;
  background: #efefef;
  border: 1px solid #7e6a37;
  border-radius: 10px;
}

progress::-webkit-progress-bar {
  background: white;
  border-radius: 10px;
}

progress::-webkit-progress-value {
  background: #9deaea91;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;

}

.skill{

  margin-right: 50%;
}

footer {
  background: linear-gradient(to bottom, rgb(250, 254, 254) 38%, rgba(180, 234, 234, 0.44) 72%);
  height: 100px;
  width: 100%;
  border-radius: 15px;
  font-family: monospace;
}
.footr{
  margin: auto;
  width: 60%;
  border: 0;
  text-align: center;
  padding: 30px 0 5px 0;
}

.pag {
  margin-right: 30px;
  color: #0b8d8d;
  letter-spacing: 1px;
  text-decoration: none;
  font-size: 1rem;
}

.pag:hover {
  color: gold;

}
.footnote{
    color: #14c6ef;
    padding-top:8px;
    font-size: 0.75rem;
    letter-spacing: 2px;
    /*padding: 20px 0;*/
}
.cover{
  margin: 0 5% 0 5%;
  padding: 30px;
  font-size: 1.3rem;
  letter-spacing: 0.08rem;
  line-height: 1.5;
  font-family: monospace;
  background-color: white
}

.inp{
  border-radius: 10px;
  padding: 5px;
  border: 2px dashed #0b8d8d;
}

.botton{
  border: 2px rgb(199, 249, 249);
    border-radius: 10px;
    width: 100px;
    height: 30px;
    border-style: groove;
    background-color: #378888;
    color: white;

}
.dot{
  margin:auto;
  width:100%;
}
.hobbies{
  position: relative;
    left: 100px;
    top: 50px;
  width: 300px;
  height:200px;
  margin: 10px;
  border:0;
}

.sign{
  width:100px;
  height:100px;
  border:0;
  margin-left: 30px;
}
